<div class="jumbotron">
  <div class="container">
    <div class="side-image">
      <div class="images-wrapper"></div>
        <div class="side-image-content">
          <h4>Angular</h4>
          <h3>ngBook для тех, кто начинает, продолжает или сомневается.</h3>
          <p>Книгу открыл по рекомендации приятеля. Много всего интересного. Не надо обладать огромными знаниями языка, чтобы вникнуть. Написана просто и с хорошими примерами. Рекомендую, если остались вопросы по $scope, архитектуре MVC для Angular и много других ответов и рекомендаций можно найти в ней.</p>
          <a href="../books/ng-book-23.pdf" target="_blank">Изучить</a>
      </div>
    </div>
  </div>
</div>


