<article class="type-system-geometric">
    <p class="type">Веб-разработка</p>
    <h1>Собираем проект на Yeoman.</h1>
    <h2>Частенько требуется быстро организоваться и начать разработку проекта. Иметь папку boilerplate на каждый случай не получается. От ручного набора и копипаст переходим к автогенерации с помощью <strong>Yeoman</strong> и это того стоит!</h2>

    <p class="date">26 января 2016</p>
    <p>Yeoman - многофункциональный генератор веб-проектов. Сам по себе процесс установки и пользования подробно описан на <a href="http://yeoman.io/">его страничке</a>, поэтому я чуток расскажу о конкретном примере создания одностраничного приложения(SPA) с использованием <strong>Angular</strong>.
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia fugiat facilis enim accusamus quisquam aut, repellendus incidunt quod optio facere labore illo numquam ipsum beatae vero debitis, fugit excepturi.</p>  
      <a href="https://github.com/yeoman/generator-angular" class="read-more">Подробнее об angular-generator <span>&rsaquo;</span></a>
    </p>    
    <hr>
    <p class="author">Максим Цветков</p>
  </article>