<div class="jumbotron">
  <div class="container">
      <h3>Раздел "Блог" находится в разработке и вы не сможете сейчас ознакомится с ним<span>:(</span></h3>
      <p>Извините, но предстоит еще:</p>      
      <ul>
        <li>разместить статьи на внешнем ресурсе (Heroku или MonoLab)</li>
        <li>привязать базу к стилезованным директивам</li>
        <li>добавить рейтинги и комментарии</li>        
      </ul>
      <img src="../images/webdev.jpg" width="200" height="200" alt="...">
      <h4>Заходите проверять прогресс данного раздела!</h4>      
    </div>
</div>
