
  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="images/main_logo.jpg
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Максим Цветков</h1>
        <p>Веб-разработчик. Трудяга. Хороший парень.</p>  
      </div>
    </div>
  </div>
<div class="jumbotron">

  <my-quatations></my-quatations>

  <p class="epig">Давайте знакомиться! Меня зовут Максим. Я увлекаюсь веб-технологиями. Надоели Bootstrap-однотипные шаблоны и собрал вот это! Не сижу на месте и каждую неделю стараюсь узнать что-то новое и реализовать это на практике. Здесь Вы можете посмотреть мои работы, ознакомиться с резюме и связаться со мной.</p>

  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="images/placeholder_logo_2.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h2>Frontend: HTML, CSS, Bootstrap</h2>
        <p>Верстка сайта упрощается с Bootstrap. Особенно если надо отзывчивый или адаптивный вариант(для этого же есть Bourbone/Neat).</p>
        </div>
    </li>  
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>JavaScript: JS, AngularJS, ReactJS, JQuery, JSON</h2>
        <p>Моя дипломная работа (2005г.выпуска) содержала не сложный JS-тест, но утекло много времени и сейчас всё гораздо технологичнее и проще.</p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
        <img src="images/placeholder_logo_4.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Version control systems and etc.: GIT, BitBucket</h2>
        <p>Удобная работа с версионным контролем помогает избегать на ноуте появления таких папок как: test, test1, test1_1 и т.д. Очень удобно!</p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="images/placeholder_logo_2.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h2>Yii2 framework &amp; CMS Joomla, WordPress, Bitrix</h2>
        <p>Работа с PHP. Очень удобный Yii2, хотя начал работать как многие с WordPress. Пишу компоненты для Битрикс.</p>
        </div>
    </li>  
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
        <img src="images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Less, Sass so-proccesing</h2>
        <p>Очень удобно упрощает работу Sass/Bourbon. Этот проект собран как раз с его помощью. Один раз тратишь время на настройку, все остальные разы экономишь время и получаешь профит.</p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="images/placeholder_logo_4.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Databases:MySQL, Oracle 10g, MongoDB(NoSql)</h2>
        <p>Базы, базы. Создаем, храним, извлекаем, обрабатываем. Больше всего времени проведено в phpMyAdmin, но интересно было открыть для себя Mongo.</p>
      </div>
    </li> 
  </ul>

  <p class="epig">Кроме того использую в работе сборщики <strong>Gulp, Grunt</strong>. Например этот проект собран через <strong>Gulp</strong> и более подробно почитать можно <a href="https://github.com/MaxFlower/StarterKit-SASSbourbon-Grunt-AngularJs" alt="">тут</a>.</p>

</div>
