<div class="jumbotron">
	<div class="cards">
	  <div class="card">
	    <div class="card-image">
	      <img src="images/angularjs.png" alt="">
	    </div>
	    <div class="card-header">
	      AngularJs
	    </div>
	    <div class="card-copy">
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-image">
	      <img src="images/ReactFlux.png" alt="">
	    </div>
	    <div class="card-header">
	      ReactJS
	    </div>
	    <div class="card-copy">
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-image">
	      <img src="images/yii2.jpg" alt="">
	    </div>
	    <div class="card-header">
	      Yii2 (PHP)
	    </div>
	    <div class="card-copy">
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	    </div>
	  </div>
	</div>
</div>
