<!DOCTYPE html>
<html >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<!-- ng-controller="myCtrl"ng-init="name='MAX'"ng-controller="myCtrl" -->
<body> 
 <script >

// 	var myCtrl=function (){
// 		alert ('myCtrl!!');

// 	}
// 	// myCtrl();
// </script>

<!-- <div ng-init="test='MAX'" > -->
<input type="text" ng-model="test">
<p>{{test}}	</p>
<!-- </div> -->

	<pre>
		{
  "bitwise": true,
  "browser": true,
  "curly": true,
  "eqeqeq": true,
  "esnext": true,
  "latedef": true,
  "noarg": true,
  "node": true,
  "strict": true,
  "undef": true,
  "unused": true,
  "globals": {
    "angular": false
  }
}

	</pre>
</body>
</html>